.table-hover > tbody > tr.gold > td { background-color: #FFEF96 }
.table-hover > tbody > tr.silver > td { background-color: #E5E5E5 }
.table-hover > tbody > tr.bronze > td { background-color: #E1CAB4 }
.table-hover > tbody > tr.gold:hover > td { background-color: #FFE34C }
.table-hover > tbody > tr.silver:hover > td { background-color: #CDCDCD }
.table-hover > tbody > tr.bronze:hover > td { background-color: #D7B99A }
.table {
    border-top: solid 1px #ddd; border-bottom: solid 1px #ddd;
    opacity: 0.1;
}
.table.history {
    opacity: 1;
}
.table .label { display: inline-block; width: 40px }
.table, .table .club,
.table .region, .table .age,
.table .gender, .table .ranking {
    border-left: solid 1px #ddd; border-right: solid 1px #ddd
}
.table .pid {
    border-left: solid 1px #ddd
}
.table .pidlink {
    border-right: solid 1px #ddd
}
.table > tbody > tr { cursor: pointer }
.table-bordered > tbody .place,
.table-bordered > tbody .age-place,
.table-bordered > tbody .gender-place,
.table-bordered > tbody .region-place {
    border-right: none;
}
.table-bordered > tbody .place-change,
.table-bordered > tbody .age-place-change,
.table-bordered > tbody .gender-place-change,
.table-bordered > tbody .region-place-change {
    border-left: none;
}
.table > thead th { text-align: center }
.table.history > tbody > tr { cursor: auto }
