<button type="button" class="btn btn-default" data-filter="age" data-value="M">M</button>
<button type="button" class="btn btn-default" data-filter="age" data-value="JM">JM</button>
<button type="button" class="btn btn-default" data-filter="age" data-value="JJ">JJ</button>
<button type="button" class="btn btn-default" data-filter="age" data-value="JS">JS</button>
<button type="button" class="btn btn-default" data-filter="age" data-value="">-</button>
<button type="button" class="btn btn-default" data-filter="age" data-value="S">S</button>
<button type="button" class="btn btn-default" data-filter="age" data-value="N">N</button>
<button type="button" class="btn btn-default" data-clear="age">wszyscy</button>
