<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Oficjalny Ranking Brydżowy PZBS</title>
    <link rel="stylesheet" href="../res/bootstrap.min.css" />
    <link rel="stylesheet" href="../res/ranking.css" />
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>
          Oficjalny Ranking Brydżowy PZBS
          <small></small>
        </h1>
      </div>
      <div class="panel panel-default filters">
        <div class="panel-body">
          <h2 class="name">
            <a href="" target="_blank" class="pid-link">
              <span class="glyphicon glyphicon-new-window"></span>
            </a>
          </h2>
          <h3 class="club"></h3>
        </div>
      </div>
      <table class="history table table-striped table-hover table-bordered">
        <thead>
          <tr class="text-center">
            <th>Data</th>
            <th colspan="2">Miejsce</th>
            <th class="region" colspan="3">Okręg</th>
            <th class="gender" colspan="3">Płeć</th>
            <th class="age" colspan="3">Kat. wiekowa</th>
            <th>Wynik</th>
          </tr>
        </thead>
        <tbody>
          <tr class="missing">
            <td class="date text-right">
              <a href=""></a>
            </td>
            <td colspan="12" class="text-center">Brak notowania.</td>
          </tr>
          <tr class="normal">
            <td class="date text-right">
              <a href=""></a>
            </td>
            <td class="place text-right"></td>
            <td class="place-change"><span class="label"></span></td>
            <td class="region text-center">
              <a href=""></a>
            </td>
            <td class="region-place text-right"></td>
            <td class="region-place-change"><span class="label"></span></td>
            <td class="gender text-center">
              <a href=""></a>
            </td>
            <td class="gender-place text-right"></td>
            <td class="gender-place-change"><span class="label"></span></td>
            <td class="age text-center">
              <a href=""></a>
            </td>
            <td class="age-place text-right"></td>
            <td class="age-place-change"><span class="label"></span></td>
            <td class="score text-right"></td>
          </tr>
        </tbody>
      </table>
      <div class="well well-sm">
        &copy; 2017 - dla <a href="http://pzbs.pl">PZBS</a> zrobił <a href="https://emkael.info">mkl.</a> Też sobie <a href="https://github.com/emkael/pzbs-ranking">zrób.</a>
      </div>
    </div>
  </body>
</html>
