<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Oficjalny Ranking Brydżowy PZBS</title>
    <link rel="stylesheet" href="_res/bootstrap.min.css" />
    <link rel="stylesheet" href="_res/jquery.qtip.min.css" />
    <link rel="stylesheet" href="_res/ranking.css" />
  </head>
  <body>
    <div class="container">
      <div class="btn-group static-menu" role="nav">
      </div>
      <div class="page-header">
        <h1>
          Oficjalny Ranking Brydżowy PZBS
        </h1>
        <h2>
          <small></small>
        </h2>
      </div>
      <div class="panel panel-default filters">
        <div class="panel-heading" role="button" data-toggle="collapse" data-target="#filters" aria-expanded="false" aria-controls="filters">
          Filtry rankingu
          <span class="glyphicon glyphicon-question-sign auto-tooltip"
                title="Kliknięcie zamienia filtr w danej kategorii.<br />Kliknięcie z klawiszem Ctrl dodaje filtr w kategorii."
                aria-role="tooltip"></span>
        </div>
        <div class="collapse panel-body" id="filters">
          <div class="form-inline">
            <div class="input-group" role="group">
              <div class="input-group-addon">Okręg</div>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default" data-filter="region" data-value="DS">DS</button>
                <button type="button" class="btn btn-default" data-filter="region" data-value="KP">KP</button>
                <button type="button" class="btn btn-default" data-filter="region" data-value="LB">LB</button>
                <button type="button" class="btn btn-default" data-filter="region" data-value="LD">LD</button>
                <button type="button" class="btn btn-default" data-filter="region" data-value="LU">LU</button>
                <button type="button" class="btn btn-default" data-filter="region" data-value="MA">MA</button>
                <button type="button" class="btn btn-default" data-filter="region" data-value="MP">MP</button>
                <button type="button" class="btn btn-default" data-filter="region" data-value="OP">OP</button>
                <button type="button" class="btn btn-default" data-filter="region" data-value="PD">PD</button>
                <button type="button" class="btn btn-default" data-filter="region" data-value="PK">PK</button>
                <button type="button" class="btn btn-default" data-filter="region" data-value="PM">PM</button>
                <button type="button" class="btn btn-default" data-filter="region" data-value="SL">SL</button>
                <button type="button" class="btn btn-default" data-filter="region" data-value="SW">SW</button>
                <button type="button" class="btn btn-default" data-filter="region" data-value="WM">WM</button>
                <button type="button" class="btn btn-default" data-filter="region" data-value="WP">WP</button>
                <button type="button" class="btn btn-default" data-filter="region" data-value="ZP">ZP</button>
                <button type="button" class="btn btn-default" data-clear="region">wszystkie</button>
              </div>
            </div>
            <div class="input-group" role="group">
              <div class="input-group-addon">Kat. wiekowa</div>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default" data-filter="age" data-value="M">M</button>
                <button type="button" class="btn btn-default" data-filter="age" data-value="J">J</button>
                <button type="button" class="btn btn-default" data-filter="age" data-value="">-</button>
                <button type="button" class="btn btn-default" data-filter="age" data-value="S">S</button>
                <button type="button" class="btn btn-default" data-filter="age" data-value="N">N</button>
                <button type="button" class="btn btn-default" data-clear="age">wszyscy</button>
              </div>
            </div>
            <div class="input-group" role="group">
              <div class="input-group-addon">Płeć</div>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default" data-filter="gender" data-value="K">K</button>
                <button type="button" class="btn btn-default" data-filter="gender" data-value="M">M</button>
                <button type="button" class="btn btn-default" data-clear="gender">obie</button>
              </div>
            </div>
            <div class="form-group">
              <form action="javascript:void(0)">
                <div class="input-group" role="group">
                  <div class="input-group-addon">Imię/nazwisko</div>
                  <input type="text" class="form-control" data-filter-field="name" />
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default" data-filter-action="name"
                            aria-label="Filtruj po imieniu/nazwisku">
                      <i class="glyphicon glyphicon-search"></i>
                    </button>
                    <button type="button" class="btn btn-default" data-clear="name">wyczyść</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="form-group">
              <form action="javascript:void(0)">
                <div class="input-group" role="group">
                  <div class="input-group-addon">Klub</div>
                  <input type="text" class="form-control" data-filter-field="club" />
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default" data-filter-action="club"
                            aria-label="Filtruj po klubie">
                      <i class="glyphicon glyphicon-search"></i>
                    </button>
                    <button type="button" class="btn btn-default" data-clear="club">wyczyść</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="button" data-toggle="collapse" data-target="#editions" aria-expanded="false" aria-controls="editions">
          Wszystkie notowania rankingu
        </div>
        <div class="collapse panel-body" id="editions">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-disabled year" />
            <a href="" class="btn btn-default" datetime=""></a>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="button" data-toggle="collapse" data-target="#captions" aria-expanded="false" aria-controls="captions">
          Legenda
        </div>
        <div class="collapse panel-body" id="captions">
          <div class="row">
            <div class="col-md-6">
              Oznaczenia wierszy tabeli (kolor tła):
              <table class="table history table-hover">
                <tbody>
                  <tr class="gold">
                    <td>Pierwsze miejsce (w ramach wybranych kryteriów)</td>
                  </tr>
                  <tr class="silver">
                    <td>Drugie miejsce (w ramach wybranych kryteriów)</td>
                  </tr>
                  <tr class="bronze">
                    <td>Trzecie miejsce (w ramach wybranych kryteriów)</td>
                  </tr>
                  <tr class="info">
                    <td>Pierwsze miejsce w którejś z kategorii (okręg, płeć, wiek)</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-6">
              Oznaczenia zmiany miejsca w rankingu:
              <table class="table history">
                <tbody>
                  <tr>
                    <td>
                      <span class="change label label-success">+1</span> awans
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="change label label-default">=</span> bez zmian
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="change label label-danger">-1</span> spadek
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="change label label-info">N</span> nienotowany w poprzednim rankingu
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="form-inline">
          <div class="input-group pull-left" id="top-paginator"></div>
          <div class="input-group pull-right" role="group">
            <div class="input-group-addon">Na stronę:</div>
            <div class="input-group">
              <select id="pagesize" class="form-control"
                      aria-label="Pozycji na stronę">
                <option value="100" selected="selected">100</option>
                <option value="200">200</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
              </select>
            </div>
            <span class="input-group-addon">razem: <span id="paginate-count">2000</span></span>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel">
        <div class="table-responsive">
          <table class="data-table table table-striped table-hover table-paginate">
            <thead>
              <tr class="text-center">
                <th colspan="2">Miejsce</th>
                <th class="pid" colspan="2">PID</th>
                <th>
                  Zawodnik
                  <span class="glyphicon glyphicon-question-sign auto-tooltip"
                        title="Kliknięcie w wiersz wyświetla historię zawodnika"
                        aria-role="tooltip"></span>
                </th>
                <th class="club">Klub</th>
                <th class="region" colspan="3">Okręg</th>
                <th class="gender" colspan="3">Płeć</th>
                <th class="age" colspan="3">Kat. wiekowa</th>
                <th class="ranking">Wynik</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="place text-right">
                  <span class="rank"></span>
                </td>
                <td class="place">
                  <span class="change label"></span>
                </td>
                <td class="pid text-right"></td>
                <td class="pidlink">
                  <a href="" target="_blank">
                    <span class="glyphicon glyphicon-new-window"></span>
                  </a>
                </td>
                <td class="name"></td>
                <td class="club"></td>
                <td class="region text-center"></td>
                <td class="region-place text-right">
                  <span class="rank"></span>
                </td>
                <td class="region-place">
                  <span class="change label"></span>
                </td>
                <td class="gender text-center"></td>
                <td class="gender-place text-right">
                  <span class="rank"></span>
                </td>
                <td class="gender-place">
                  <span class="change label"></span>
                </td>
                <td class="age text-center"></td>
                <td class="age-place text-right">
                  <span class="rank"></span>
                </td>
                <td class="age-place">
                  <span class="change label"></span>
                </td>
                <td class="ranking text-right">
                  <span class="auto-tooltip"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel">
        <div id="bottom-paginator" class="text-center"></div>
        <div class="clearfix"></div>
      </div>
      <div class="well well-sm">
        &copy; 2017-2018 - dla <a href="http://pzbs.pl">PZBS</a> <a href="https://github.com/emkael/pzbs-ranking">zrobił</a> <a href="https://emkael.info">mkl.</a>
        Dane w CSV <a href="https://raw.githubusercontent.com/emkael/pzbs-ranking/master/data/rankings" id="rawlink">tu.</a>
      </div>
    </div>
    <script type="text/javascript" src="_res/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="_res/bootstrap.min.js"></script>
    <script type="text/javascript" src="_res/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="_res/ranking.js"></script>
  </body>
</html>
