<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Oficjalny Ranking Brydżowy PZBS</title>
    <link rel="stylesheet" href="_res/bootstrap.min.css" />
    <link rel="stylesheet" href="_res/jquery.qtip.min.css" />
    <link rel="stylesheet" href="_res/ranking.css" />
  </head>
  <body>
    <div class="container">
      <div class="btn-group static-menu" role="nav">
      </div>
      <div class="page-header">
        <h1>
          Oficjalny Ranking Brydżowy PZBS
        </h1>
        <h2>
          <small></small>
        </h2>
      </div>
      <div class="panel panel-default" id="wrapper">
        <div class="panel-body">
        </div>
      </div>
      <div class="well well-sm" id="footer">
        &copy; 2017-2025 - wizualizację dla <a href="http://pzbs.pl">PZBS</a> <a href="https://github.com/emkael/pzbs-ranking">zrobił</a> <a href="https://emkael.info">mkl.</a>
      </div>
    </div>
  </body>
</html>
